<div class="d-flex justify-content-between align-items-center">
    <h2>Patient List</h2>
    <button type="button" class="btn btn-primary btn-sm">Add patient</button>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Active</th>
            <th scope="col">Gender</th>
            <th scope="col">Birth Date</th>
            <th scope="col">Address</th>
        </tr>
    </thead>
    <tbody>
        <!-- Example Row 1 -->
        <tr>
            <td><a asp-controller="Patients" asp-action="Details" asp-route-id="7f97feb0-1ab3-4157-b562-19303ea8d964">John Doe</a></td>
            <td>Yes</td>
            <td>Male</td>
            <td>1990-01-01</td>
            <td>1234 Elm Street, Anytown, ST, 12345</td>
        </tr>
        <!-- Example Row 2 -->
        <tr>
            <td>No</td>
            <td>Jane Doe</td>
            <td>Female</td>
            <td>1992-02-02</td>
            <td>5678 Oak Street, Anycity, ST, 67890</td>
        </tr>
        <!-- Add more patient rows as needed -->
    </tbody>
</table>
